/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  } */
  
/** ----- common ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menuColor: #d8d8d8;
  --menuTextColor: black;
  --contentTextColor: white;
  --bgColor: black;
}

.uppercase {
  text-transform: uppercase;
}

body {
  background-color: var(--bgColor);
}

/*? ----- common header ----- */
header {
  width: 100vw;
  background-color: var(--menuColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

header a {
  text-decoration: none;
  color: var(--menuTextColor);
}

header .logo {
  display: flex;
  justify-content: center;
}

header .logo h1 {
  font-size: 2rem;
  line-height: 2rem;

}
header .logo h2 {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.8rem;
}

header .nav {
  display: flex;
}

header .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .social a {
  position: relative;
  width: 50px;
  height: 50px;
}

header .social img {
  border-radius: 20%;
  box-shadow: 1px 1px 2px black;
  position: absolute;
}

header .social .hoverImage {
  opacity: 0;
}

header .social a:hover {
  transform: scale(1.05);
  transition: transform 200ms;
}

header .social a:hover .baseImage {
  opacity: 0;
  transition: opacity 200ms;
}

header .social a:hover .hoverImage {
  opacity: 100;
  transition: opacity 200ms;
}

/*? ----- common main ----- */
#main {
  width: 100vw;
  height: calc(100vh - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main .title {
  color: var(--contentTextColor);
  text-align: center;
}

#main .title .mainTitle {
  font-size: 5rem;
  line-height: 5rem;
}

#main .title .subTitle {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 2rem;
  margin-left: 1.5rem;
}

#main .socialMenu {
  display: inherit;
  justify-content: center;
  align-items: center;
}

#main .socialMenu a {
  text-decoration: none;
  color: var(--contentTextColor);
}

#main .socialMenu a:hover {
  transform: scale(1.1);
  transition: transform 200ms;
}

/*? ----- common footer ----- */
footer {
  width: 100vw;
  background-color: var(--menuColor);
  font-size: 0.7rem;
  padding: 1rem;
}

/*! --------------------------------- */

/** ----- mobile ----- */
@media screen and (max-width: 767px) {
  /*? ----- mobile header ----- */
  header .nav, header .social {
    display: none;
  }

  /*? ----- mobile main ----- */
  #main {
    gap: 4rem;
  }

  #main .socialMenu {
    flex-direction: column;
    gap: 2.3rem;
  }

  #main .socialMenu a {
    font-size: 1.5rem;
  }
}


/** ----- tablet ----- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*? ----- tablet header ----- */
  header button {
    display: none;
  }

  header .nav {
    gap: 1rem;
  }

  header .social {
    gap: 0.5rem;
  }

  header .social a {
    width: 35px;
    height: 35px;
  }

  header .social img {
    width: 35px;
    height: 35px;
  }

  /*? ----- tablet main ----- */
  #main {
    gap: 4rem;
  }

  #main .socialMenu {
    font-size: 2rem;
    gap: 2rem;
  }
}

/*! --------------------------------- */

/** ----- PC ----- */
@media screen and (min-width: 1024px) {
  /*? ----- PC header ----- */
  header .logo {
    min-width: 180px;
  }
  
  header .logo a {
    display: flex;
    flex-direction: column;
  }
  
  header .logo a h1 {
    display: inline-block;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  header .logo a h2 {
    margin-left: 0rem;
  }

  header button {
    display: none;
  }
  
  header .nav {
    gap: 2rem;
  }
  
  header .social {
    gap: 1rem;
  }
  
  /*? ----- PC Main ----- */
  
  #main {
    height: calc(100vh - 1rem);
    gap: 5rem;
  }
  
  #main .socialMenu {
    font-size: 2.5rem;
    gap: 3rem;
  }
  
  
  /*? ----- PC footer ----- */
}