@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen flex flex-col items-center bg-studioBackground
}

header {
  @apply w-full bg-menu-bg flex place-content-around select-none
}

footer {
  @apply w-screen bg-menu-bg p-4 mt-auto text-xs
}

nav {
  @apply uppercase hidden md:flex items-center space-x-5 md:text-sm lg:text-base
}

.home_main {
  @apply min-h-[500px] w-full h-full flex flex-col items-center justify-center space-y-[4rem] text-content-text
}

#Page01 {
  @apply relative flex justify-center items-center text-white
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  } */